@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper{

    display: flex;     /* no changes */
  justify-content: center;  /* all items moved to center from the left*/
  align-items: center; /* no changes */
  min-height: 110vh;   /* height of wrapper increased */

  /* min-height specifies the minimum height that an element should have, preventing it from becoming smaller than the specified value. On the other hand, max-height sets the maximum height that an element can grow to, preventing it from exceeding the specified value. */

  background: rgba(39, 39, 39, 0.4);
}

body{

    background: url(./background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav{

    position: fixed; 
    top: 0;
    /* top is a position property. margin-top is for measuring the external distance to the element, in relation to the previous one. */
    display: flex;  /* elements changed to y direction */

    justify-content: space-around; /* making use of available width */
    width: 100%; /* width of the navbar*/
    height: 100px; /* height of the navbar*/


    line-height: 100px; 
    /* line-height is the distance from the top of the first line of text to the top of the second. */
    /* used here for li elememts height increase between them */
   /* also increase the top without using top or margin top */

        background: linear-gradient(rgba(39, 39, 39, 0.6),transparent); /* adding black shade to top */
        z-index: 100; /* element with higher z index value we give will overlap element with lower z index value */

 
}


.nav-logo p i{

 /* accessing i tag inside class .nav-logo, so other i tags wont get affected*/

    color: white;
    font-size: 60px;
    position: absolute;
    top: 25px;
   
}

.title{
    
    color: white;
    position: absolute;
    top: 55px;
    font-family: "Caveat", cursive;
    font-size: 30px;
}



.nav-menu ul{

    display: flex; /* changed to y direction*/
}

.nav-menu ul li{

    list-style-type: none;  /* removing decoration of li elememts*/
}

.nav-menu ul li .link{

    text-decoration: none;
    color: white;
    margin: 0 25px;
    padding-bottom: 15px;

}

.link:hover{
    border-bottom: 2px solid;
}

.active{
    border-bottom: 2px solid;
}

    .nav-btn button {

        width: 140px;
        height: 40px;
        font-weight: 500; 
        background: rgba(255, 255, 255, 0.5);
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: .3s ease;
    }

    #signUpBtn{
margin-left: 15px;
    }

    .btn:hover{

        background: rgba(255, 255, 255, 0.7);
    }

    .nav-menu-btn{

        display: none; /* hiding it as no need when desktop screen*/
    }

    .form{
        position :absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 512px;
        height: 420px;
        overflow: hidden;
        z-index: 2;
    }

    .login-container{
        position: absolute;
        left: 4px;
        width: 500px;
        display: flex;
        flex-direction: column;
        transition: 0.5s ease-out;
    }

    .register-container{
        position: absolute;
        right: -520px;
        width: 500px;
        display: flex;
        flex-direction: column;
        transition: 0.5s ease-out;
    }

    .top span{
        color:#fff;
        font-size: small;
        padding: 10px 0;
        display: flex;
        justify-content: center;
    }

    .top span a{
 font-weight: 500;
 color:#fff;
  text-decoration: none;
 margin-left: 5px;
    }

    header{

        color:#fff;
        font-size: 30px;
       text-align: center;
        padding: 10px 0 30px 0;
       
    }

    .two-forms{
        display: flex;
        gap: 10px;
        margin: auto;
    }

    .input-feild{

 font-size: 15px;
 background: rgba(255, 255, 255, 0.2);
 color:#fff;
 height: 50px;
 width: 100%;
 border: none;
 border-radius: 30px;
 outline: none;
 transition: .2s ease;
 text-align: center;

    } 
::-webkit-input-placeholder{
    color:#fff;
}

.input-feild:hover{
    background: rgba(188, 24, 24, 0.25);
}

.input-feild:focus{
    
    /* when clicking in the text feild */
    background: rgba(188, 24, 24, 0.25);
}

.input-box i {
    position: relative;
    top: -35px;
    left: 17px;
}

.submit{
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-out;
    
}

.submit:hover{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px  rgba(0, 0, 0, 0.2);
}

.two-col{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}

.two-col .one{
    display: flex;
    gap: 5px;
}

.two-col .two label a{
    color: #fff;
    text-decoration: none;
}

.two-col .two label a:hover{
    text-decoration: underline;
}


@media only screen and (max-width: 768px) {


    .nav-logo p i{
       
           font-size: 39px;
           top: 20px;
          
       }

       .title{

        top: 25px;
        font-size: 25px;
    }
    
    .nav-btn{
        display: none;
    }

    .nav-menu.responsive{
        top: 100px;
    }

    .nav-menu{
position: absolute;
top:-800px;
display: flex;
justify-content: center;
background: rgba(255, 255, 255, 0.2);
width: 100%;
height: 90vh;
backdrop-filter: blur(20px);
transition: -3s;
    }

    .nav-menu ul{

        flex-direction: column;
        text-align: center;
    }

    .nav-menu-btn{
        display: block;   /* visible again */

    }

    .nav-menu-btn i{
 
        color: #fff;
        font-size: 25px;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: -3s;

    }

    .nav-menu-btn i:hover{

        background: rgba(255, 255, 255, 0.15);
    }
}

@media only screen and (max-width: 540px) {


    .nav-logo p i{
       
        font-size: 36px;
        top: 20px;
       
    }

    .title{

     top: 25px;
     font-size: 20px;
 }

    .wrapper{

        min-height: 100vh;
    }

    .form{
   width: 100%;
   height: 500px;

    }

    .register-container,.login-container{
        width: 90%;
        padding: 0 20px;
    }

    
    .register-container .two-forms{
flex-direction: column;
margin:0;
    }
}
